#board {
  height: 35rem;
  width: 40rem;
  background-color: #2e41a4;
  /* background-image: linear-gradient(to top, #1f225d 0%, #04619f 74%); */
  border: 0.5rem solid #01103c;
  display: inline-flex;
  flex-wrap: wrap;

  margin: 3% 0 0 0;
}

.waiting {
  display: inline-flex;
}
.turns .waiting h2 {
  margin-right: 10px;
  line-height: 2rem;
  font-size: 2rem;
}
.waiting span {
  width: 10px;
  height: 10px;
  margin: 20px 2px;
  background-color: #86c6ff;
  border-radius: 50%;
  display: inline-flex;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.waiting span:nth-child(2) {
  animation-delay: 0.4s;
}
.waiting span:nth-child(3) {
  animation-delay: 0.8s;
}

.waiting span:nth-child(4) {
  margin-right: 20px;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.cols {
  display: flex;
  border: 1px solid;
}

.cols:hover {
  border-color: rgb(61, 147, 238);
}

.turns {
  width: 40rem;
  background-color: lightblue;
  margin-bottom: 5rem;
  border: 0.5rem solid #01103c;
  border-top: 0;
  display: inline-flex;
  justify-content: center;
  margin: 0 0 5% 0%;
}

.turns h1 {
  margin: 0;
  color: aliceblue;
}

.tile {
  height: 4.46rem;
  width: 4.46rem;
  margin: 0.315rem;

  /* Circle */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 5px solid #1f2a75;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  #board {
    margin-top: 5rem;
    height: 18rem;
    width: 21rem;
  }

  .tile {
    height: 1.9rem;
    width: 1.9rem;
    margin: 0.2rem;
  }

  .turns {
    width: 21rem;
  }
  .turns .waiting h2 {
    margin-right: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .waiting span {
    width: 5px;
    height: 5px;
    margin: 15px 2px;
  }
}

@media only screen and (max-height: 610px) {
  #board {
    margin-top: 2rem;
    height: 25rem;
    width: 27rem;
  }

  .tile {
    height: 2.8rem;
    width: 2.8rem;
    margin: 0.2rem;
  }

  .turns {
    width: 27rem;
  }
}
